/* Estilo seccion principal */
.main .me {
    grid-column: 1;
    text-align: center;
}

.main img {
    height: 15em;
    border-radius: 100%;
    grid-column: 4/5;
}

/* Estilos secciones con fondos transparentes */
.about_me, .skills, .proyects, .contact_me{
    background-color: rgba(27, 27, 27, 0.582);
}

/* Estilos secciones con fondo sólido */
/* .proyects, .contact_me{
    background-color: #1B1B1B;
} */

/* Estilos en los textos */
.title{
    color: #ffffff;
    grid-column: span 3;
    text-align: left;
    margin: 6% 0% 6% 20%;
    font-size: 1.5em;
}

h2{
    text-align: center;
    grid-column: span 5;
    margin-bottom: 2em;
}

p, h4, h4 a{
    color: #FF7961;
    grid-column: 2/5;
    text-align: center;
}