/* Estilos de sección about me */
.main {
    margin-top: 22em;
    background-color: #1B1B1B;
    /* grid-column: span 4; */
    padding: 3em;
    /* grid-template-columns: repeat(4, 1fr); */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.main .me {
    grid-column: 1;
    text-align: center;
}

.main img {
    height: 10em;
    border-radius: 100%;
    grid-column: 4/5;
}

/* Estilos secciones con fondos transparentes */
.about_me, .skills{
    background-color: rgba(27, 27, 27, 0.685);
    /* grid-column: span 4; */
    /* padding: 2em;  */
}

/* Estilos secciones con fondo sólido */
.proyects, .contact_me{
    background-color: #1B1B1B;
    /* grid-column: span 4; */
    /* padding: 2em; */
}
