/* Estilo general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url('img/art-astronomy-constellations-1546863.jpg'); */
    /* background-image: url('img/astronomy-black-wallpaper-constellation-2150.jpg'); */
    /* background-image: url('img/background-blur-bright-220067.jpg'); */
    background-image: url('img/blurred-blurry-dark-567985.jpg');
    /* background-color: rosybrown; */
    background-repeat: no-repeat;
    color: aliceblue;
    background-attachment: fixed;
    background-size: cover;
    /* background-position: center; */
}

/* Sistema de grid in framework */
section{
    display: grid;
    grid-gap: .3em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto);
}

.nav_bar, .main, .about_me, .proyects, .skills, .contact_me{
    padding: 12% 4%;
    grid-row: auto;
}

/* Estilos del nav-bar */
.nav_bar{
    background-color: #1B1B1B;
    border-bottom: solid #EFB810;
    padding: 1em;
    text-align: right;
/* Para dejar la barra de navegación estática */
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
}

.nav_bar a{
    color: #ffffff;
    background-color: #1B1B1B;
    border-color: #1B1B1B;
    text-decoration: none;
    margin-right: 2em;
    border-right: .1em solid #EFB810;
    padding-right: .6em;
}

.nav_bar a:hover{
font-size: 1.2em;
}

/* quitarle esos feos puntos cuando está seleccionado un <a> */

/* Estilo del footer */
footer{
    grid-column: span 5;
    border-top: solid #EFB810;
    background-color: #1B1B1B;
    color: #ffffff;
    text-align: center;
    padding: .6em;
    bottom: 0%;
    right: 0%;
    left: 0%;
    position: absolute;
}

/* linear-gradient */
