/* Estilo general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url('img/art-astronomy-background-220071.jpg');
    /* background-image: url('img/art-astronomy-constellations-1546863.jpg'); */
    /* background-image: url('img/astronomy-black-wallpaper-constellation-2150.jpg'); */
    /* background-image: url('img/background-blur-bright-220067.jpg'); */
    /* background-image: url('img/blurred-blurry-dark-567985.jpg'); */
    background-repeat: no-repeat;
    color: aliceblue;
    background-attachment: fixed;
    background-size: cover;
    /* background-position: center; */
}

/* Sistema de grid in framework */
section{
    display: grid;
    grid-gap: .3em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto);
}

.nav_bar, .main, .about_me, .proyects, .skills, .contact_me{
    border-bottom: solid #EFB810;
}
.about_me, .proyects, .skills, .contact_me{
    margin: 0% 2%;
    padding: 3em;
}

/* Estilos del nav-bar */
.nav_bar{
    background-color: #1B1B1B;
    color: #1B1B1B;
    padding: .5em;
    text-align: right;
/* Para dejar la barra de navegación estática */
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
}

.nav_bar button:hover{
background-color: #EFB810;
border-radius: .3em;
border-color: #1B1B1B;
}

/* Estilo del footer */
footer{
    grid-column: span 5;
    /* background-color: #1B1B1B; */
    color: #ffffff;
    text-align: center;
    padding: .6em;
    margin: 0% 2.5em;
}

/* linear-gradient */

.up{
    border-radius: 100%;
    padding: .5em;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 0;
    margin: 1em;
    color: black;
    font-size: 1em;
}
